.counter-container{
          background-color: white;
          display: flex;
          flex-direction: column;
          gap:15px;
          padding: 1.5rem;
          border: 2px solid black;
}

